#faq {
  background-color: #f4f4f481;
  background-image: 
    url(../images/faqBee.png),
    url(../images/faqHive.png);
  background-repeat: no-repeat;
  background-size:
    30vw,
    25vw;
  background-position: left, right;
  background-position-x: -10vw, 90vw;
  background-position-y: 60vh, 25vh;
  padding: 100px 0;
  min-height: 0;
  height: auto;
}

.question-card-container {
  padding: 10px 15px;
}

.question-card {
  padding: 25px 20px;
  border: solid 1px #dedede;
  border-radius: 5px;
  color: #898989;
  height: 100%
}

.question-title {
  color: #3e3d3d;
  font-weight: 600;
  margin-bottom: 10px;
}

.question-answer {
  font-size: 13px;
  color:black;
}

.question-card:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.13);
}