@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,700');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 0;
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100%;
  min-height: 800px;
  padding: 7px 20px;
}

.smooth-transitions {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.purple {
  color: #3c2b5f;
}

.align-contents-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #3c2b5f;
}

.button {
  padding: 14px 20px;
  text-decoration: none !important;
  border: 1px solid #3c2b5f;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 auto;
  color: #3c2b5f !important;
  background: #fff;
}

.button:hover {
  color: #fff !important;
  background: #3c2b5f;
}

.button-white {
  padding: 10px 15px;
  text-decoration: none !important;
  font-weight: 600;
  border-radius: 4px;
  margin: 0 auto;
  color: #3c2b5f !important;
  background: #fff;
}

.button-white:hover {
  background: #3c2b5f;
  color: #fff !important;
}

footer {
  background: #2b2b2b;
  padding: 30px 0;
}

.social-logo {
  margin: 0 10px;
  max-width: 30px;
  max-height: 30px;
}

.footer-text {
  font-weight: 300;
  color: #fff !important;
  line-height: 30px;
  margin: 10px 30px 0 0;
}

.link {
  font-weight: 600;
  color: #fff !important;
}

nav {
  z-index: 99999;
}

.nav-link {
  padding: 15px !important;
}

.mlh-badge {
  width: 7.5vw;
  position: fixed;
  right: 10px;
  z-index: 1000;
  top: 0px;
}

.buffer-top-20 {
  margin-top: 20px;
}

.buffer-right-15 {
  margin-right: 15px;
}

.margins-0 {
  margin: 0;
}

.visuallyhidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}